#!/usr/bin/make -f

export ROOT = $(CURDIR)/debian/tmp

export VER = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export VER_MJR = $(shell echo $(VER) | cut -d. -f1)

%:
	dh $@

override_dh_auto_install:
	$(MAKE) DEST_DIR=${ROOT} \
		BIN_DIR=usr/bin \
		UNIT_DIR=/lib/systemd/system \
		LIB_DIR=/usr/lib \
		INC_DIR=/usr/include \
		BUILDSUBDIR=$(CURDIR) \
		ETC_DIR=etc \
		VER=${VER}  \
		VER_MJR=${VER_MJR} \
		install

# Prevents dh_fixperms from changing the permissions defined in the makefiles
override_dh_fixperms:
	dh_fixperms \
	-Xlibsm_common.so.* \
	-Xsm-eru*

override_dh_installsystemd:
	dh_installsystemd -psm-eru sm-eru.service
