[Unit]
Description=Service Management Unit
After=network-online.target syslog-ng.service config.service systemd-udev-settle.service drbd.service
Before=sm-shutdown.service sm-api.service pmon.service

[Service]
Type=forking
RemainAfterExit=yes
User=root
ExecStart=/etc/init.d/sm start
ExecStop=/etc/init.d/sm stop
ExecReload=/etc/init.d/sm reload
PIDFile=/var/run/sm.pid
KillMode=process

# process recovery is handled by pmond
Restart=no

LimitNOFILE=1024

# cgroup engineering
CPUShares=512

[Install]
WantedBy=multi-user.target
