Source: sm
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper (>= 13),
 build-info-dev,
 fm-common-dev,
 sm-db-dev,
 sm-common-dev,
 mtce-dev,
 libglib2.0-dev,
 libsqlite3-dev,
 uuid-dev,
 libjson-c-dev,
 libssl-dev,
Standards-Version: 4.1.2
Homepage: https://www.starlingx.io

Package: sm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 mtce-pmon,
 logrotate,
 time,
 sqlite3
Description: Service Management
 This package handles Service Management
