#!/usr/bin/make -f

ROOT := $(CURDIR)/debian/tmp

%:
	dh $@

override_dh_usrlocal:
	# dh_usrlocal complains about files being put in /usr/local
	# this empty override causes dh_usrlocal to be skipped.

override_dh_auto_install:
	$(MAKE) DEST_DIR=${ROOT} \
		UNIT_DIR=/lib/systemd/system \
		install
	dh_install

override_dh_installsystemd:
	dh_installsystemd -psm sm.service
	dh_installsystemd -psm sm-shutdown.service

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3
