#!/usr/bin/make -f

export PYBUILD_NAME=sm-api

ROOT := debian/tmp

%:
	dh $@ --with python3 --buildsystem=pybuild

ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
override_dh_auto_test:
	echo "No tests to run."
endif

override_dh_install:
	python3 setup.py install -f --install-layout=deb --root=$(CURDIR)/debian/tmp

	python3 setup.py bdist_wheel \
		--universal \
		-d $(CURDIR)/debian/sm-api-wheels/usr/share/python3-wheels

	install -d $(ROOT)/etc/sm
	install -d $(ROOT)/etc/init.d
	install -d $(ROOT)/etc/pmon.d
	install -d $(ROOT)/lib/systemd/system/
	install -m 644 -p -D scripts/sm_api.ini $(ROOT)/etc/sm
	install -m 755 -p -D scripts/sm-api $(ROOT)/etc/init.d
	install -m 644 -p -D scripts/sm-api.service $(ROOT)/lib/systemd/system/
	install -m 644 -p -D scripts/sm-api.conf $(ROOT)/etc/pmon.d

	dh_install

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3

override_dh_installsystemd:
	dh_installsystemd -psm-api sm-api.service
